.trade_uuid{
  word-break:break-all;
  display: inline;
}
h1, h2, h3, h4, h5, h6{
  display: inline;
}
#success_text{
  color: rgb(67, 146, 71);
}
#unsuccess_text{
  color: rgb(146, 67, 67);
}
#active_text{
  color: rgb(67, 120, 146);
}
#reason{
  color: gray;
}
.table_trade{
  margin-top: 5%;
  overflow-x: auto;
  width: 100%;
}
.block-info{
  font-family: open-sans;
  background: #FFFF;
  margin: 5%;
  padding: 20px 5%;
  border-radius: 20px;
}