</tbody>
</table>
</div>
</div>
<style>
a{
      color: #212529;
    }

    a:hover{
        color: #0f1113;
        text-decoration: none;
    }

    .table_trade{
      width: 90%;
      margin: 0 auto;
      margin-bottom: 0 !important;
      margin-top: 2rem;
      height: 29.5rem;
      overflow: auto;
    }
    .table thead th{
        border-bottom: 2px solid rgba(67, 120, 146, 0.1);
        padding: 0.35rem;
        padding-left: 0.75rem;
    }
    .table{
        border: 1px solid rgba(67, 120, 146, 0.1);
        margin-bottom: 0;
    }
    .table-striped tbody tr:nth-of-type(2n+1){
        background-color: rgba(67, 120, 146, 0.1);
    }
    .table-hover tbody tr:hover{
        background-color: rgba(67, 120, 146, 0.15);
    }
    #success{
        color: rgb(67, 146, 71);

    }
    #unsuccess{
        color: rgb(146, 67, 67);
    }
    #active{
        color: rgb(67, 120, 146);
    }
p{
margin-bottom: 0;
}
#indent{
margin-top: 1rem;
}
.total_info{
margin: 1%;
margin-top: 80px;
}

#data{
  color: rgba(148, 148, 148, 0.781);
  font-size: 0.8rem;
}

a{
color: #212529;
}
h2, h3, h4, h5, h6{
  display: inline;
}
a:hover{
    color: #0f1113;
    text-decoration: none;
}

.logo{
    background: #3e7088;
}
.logo a{
    margin: 0 auto;
}
#success{
    color: rgb(67, 146, 71);

}
#unsuccess{
    color: rgb(146, 67, 67);
}
object{
    overflow: hidden;
    width: 90%;
    height: 29.6rem;
    margin: 5%;
    margin-top: 2rem;
}
</style>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../js/jquery-3.4.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html> 
