<center><h3>trades history</h3></center>
     <object data="trades_history.html" type="text/html"></object>
    </div>
    <style>
      p{
        margin-bottom: 0;
      }
      #reputation{
        margin-top: 1rem;
      }
      .total_info{
        margin: 1%;
        margin-top: 80px;
      }

        a{
        color: #212529;
        }
        h2, h3, h4, h5, h6{
          display: inline;
        }
        a:hover{
            color: #0f1113;
            text-decoration: none;
        }
        object{
            overflow: hidden;
            width: 90%;
            height: 29.5rem;
            margin: 5%;
            margin-top: 2rem;
            border-bottom: 1px solid rgba(67, 120, 146, 0.1);
        }

        .logo{
            background: #3e7088;
        }
        .logo a{
            margin: 0 auto;
        }
</style>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../js/jquery-3.4.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html> 
